<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9Z0HNDKPFC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-9Z0HNDKPFC');
  </script>
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


    <app-particles class="particulas"></app-particles>

    <div class="background">
        <div class="content-container">
        <h1>Muchas Gracias por tu compra</h1>
        <h1 >En unos momentos uno de nuestros maestros se comunicará contigo</h1>
        <div class="button-container">
            <button class="call-to-action" (click)="redirigir()">Volver a jugar</button>
        </div>
    </div>
    </div>




</body>
</html>


