/* ============================================ */
/* ESTILOS GLOBALES - styles.css / styles.scss  */
/* ============================================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #0b0b15;
}

/* Forzar que TODOS los componentes Angular ocupen 100% */
app-root {
  display: block;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}